$media-desktop: 768px;
$media-mobile: 767px;

@mixin breakpoint-desktop {
  @media screen and (min-width: $media-desktop) {
    /* стили для десктопной версии */
    @content;
  }
}

@mixin breakpoint-mobile {
  @media screen and (max-width: $media-mobile) {
    /* стили для мобильной версии */
    @content;
  }
}

:root {
  --c-body-general: #FFFFFF;
  --c-font-general: #21201F;
  --c-btn-bg: #FFDE40;
  // --c: #C5C5C5;
  // --c: #DEDEDE;
  // --c: rgba(255, 255, 255, 0.5);
  // --c: #808080;
  // --c: #8241EF;
  // --c: #2E2C21;
  // --c: rgba(255, 255, 255, 0.63);

  --max-width-section: 1250px; //916px + 183
  --padding-section: 64px;

  // @include breakpoint-desktop {}

  // @include breakpoint-mobile {}
}